@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url('Roboto-100.eot');
  src: url('Roboto-100.eot%3F') format('embedded-opentype'),
       local('Roboto Thin'),
       local('Roboto-100'),
       url('Roboto-100.woff2') format('woff2'),
       url('Roboto-100.woff') format('woff'),
       url('Roboto-100.ttf') format('truetype'),
       url('Roboto-100.svg') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('Roboto-300.eot');
  src: url('Roboto-300.eot%3F') format('embedded-opentype'),
       local('Roboto Light'),
       local('Roboto-300'),
       url('Roboto-300.woff2') format('woff2'),
       url('Roboto-300.woff') format('woff'),
       url('Roboto-300.ttf') format('truetype'),
       url('Roboto-300.svg') format('svg');
}

