@font-face {
  font-family: 'Montserrat-Black';
  src: url('Montserrat-Black.eot%3F') format('embedded-opentype'),  url('Montserrat-Black.otf')  format('opentype'),
	     url('Montserrat-Black.woff') format('woff'), url('Montserrat-Black.ttf')  format('truetype'), url('Montserrat-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('Montserrat-Bold.eot%3F') format('embedded-opentype'),  url('Montserrat-Bold.otf')  format('opentype'),
	     url('Montserrat-Bold.woff') format('woff'), url('Montserrat-Bold.ttf')  format('truetype'), url('Montserrat-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('Montserrat-ExtraBold.eot%3F') format('embedded-opentype'),  url('Montserrat-ExtraBold.otf')  format('opentype'),
	     url('Montserrat-ExtraBold.woff') format('woff'), url('Montserrat-ExtraBold.ttf')  format('truetype'), url('Montserrat-ExtraBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Hairline';
  src: url('Montserrat-Hairline.eot%3F') format('embedded-opentype'),  url('Montserrat-Hairline.otf')  format('opentype'),
	     url('Montserrat-Hairline.woff') format('woff'), url('Montserrat-Hairline.ttf')  format('truetype'), url('Montserrat-Hairline.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('Montserrat-Light.eot%3F') format('embedded-opentype'),  url('Montserrat-Light.otf')  format('opentype'),
	     url('Montserrat-Light.woff') format('woff'), url('Montserrat-Light.ttf')  format('truetype'), url('Montserrat-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.eot%3F') format('embedded-opentype'),  url('Montserrat-Regular.otf')  format('opentype'),
	     url('Montserrat-Regular.woff') format('woff'), url('Montserrat-Regular.ttf')  format('truetype'), url('Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('Montserrat-SemiBold.eot%3F') format('embedded-opentype'),  url('Montserrat-SemiBold.otf')  format('opentype'),
	     url('Montserrat-SemiBold.woff') format('woff'), url('Montserrat-SemiBold.ttf')  format('truetype'), url('Montserrat-SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('Montserrat-UltraLight.eot%3F') format('embedded-opentype'),  url('Montserrat-UltraLight.otf')  format('opentype'),
	     url('Montserrat-UltraLight.woff') format('woff'), url('Montserrat-UltraLight.ttf')  format('truetype'), url('Montserrat-UltraLight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}