@font-face {
    font-family: 'Montserrat-Black';
    src: url('/fonts/montserrat/Montserrat-Black.eot') format('embedded-opentype'),  url('/fonts/montserrat/Montserrat-Black.otf')  format('opentype'),
           url('/fonts/montserrat/Montserrat-Black.woff') format('woff'), url('/fonts/montserrat/Montserrat-Black.ttf')  format('truetype'), url('/fonts/montserrat/Montserrat-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fonts/montserrat/Montserrat-Bold.eot') format('embedded-opentype'),  url('/fonts/montserrat/Montserrat-Bold.otf')  format('opentype'),
           url('/fonts/montserrat/Montserrat-Bold.woff') format('woff'), url('/fonts/montserrat/Montserrat-Bold.ttf')  format('truetype'), url('/fonts/montserrat/Montserrat-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('/fonts/montserrat/Montserrat-ExtraBold.eot') format('embedded-opentype'),  url('/fonts/montserrat/Montserrat-ExtraBold.otf')  format('opentype'),
           url('/fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'), url('/fonts/montserrat/Montserrat-ExtraBold.ttf')  format('truetype'), url('/fonts/montserrat/Montserrat-ExtraBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-Hairline';
    src: url('/fonts/montserrat/Montserrat-Hairline.eot') format('embedded-opentype'),  url('/fonts/montserrat/Montserrat-Hairline.otf')  format('opentype'),
           url('/fonts/montserrat/Montserrat-Hairline.woff') format('woff'), url('/fonts/montserrat/Montserrat-Hairline.ttf')  format('truetype'), url('/fonts/montserrat/Montserrat-Hairline.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-Light';
    src: url('/fonts/montserrat/Montserrat-Light.eot') format('embedded-opentype'),  url('/fonts/montserrat/Montserrat-Light.otf')  format('opentype'),
           url('/fonts/montserrat/Montserrat-Light.woff') format('woff'), url('/fonts/montserrat/Montserrat-Light.ttf')  format('truetype'), url('/fonts/montserrat/Montserrat-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-Regular';
    src: url('/fonts/montserrat/Montserrat-Regular.eot') format('embedded-opentype'),  url('/fonts/montserrat/Montserrat-Regular.otf')  format('opentype'),
           url('/fonts/montserrat/Montserrat-Regular.woff') format('woff'), url('/fonts/montserrat/Montserrat-Regular.ttf')  format('truetype'), url('/fonts/montserrat/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('/fonts/montserrat/Montserrat-SemiBold.eot') format('embedded-opentype'),  url('/fonts/montserrat/Montserrat-SemiBold.otf')  format('opentype'),
           url('/fonts/montserrat/Montserrat-SemiBold.woff') format('woff'), url('/fonts/montserrat/Montserrat-SemiBold.ttf')  format('truetype'), url('/fonts/montserrat/Montserrat-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-UltraLight';
    src: url('/fonts/montserrat/Montserrat-UltraLight.eot') format('embedded-opentype'),  url('/fonts/montserrat/Montserrat-UltraLight.otf')  format('opentype'),
           url('/fonts/montserrat/Montserrat-UltraLight.woff') format('woff'), url('/fonts/montserrat/Montserrat-UltraLight.ttf')  format('truetype'), url('/fonts/montserrat/Montserrat-UltraLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    src: url('/fonts/roboto/Roboto-100.eot');
    src: url('/fonts/roboto/Roboto-100.eot') format('embedded-opentype'),
         local('Roboto Thin'),
         local('Roboto-100'),
         url('/fonts/roboto/Roboto-100.woff2') format('woff2'),
         url('/fonts/roboto/Roboto-100.woff') format('woff'),
         url('/fonts/roboto/Roboto-100.ttf') format('truetype'),
         url('/fonts/roboto/Roboto-100.svg') format('svg');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/roboto/Roboto-300.eot');
    src: url('/fonts/roboto/Roboto-300.eot') format('embedded-opentype'),
         local('Roboto Light'),
         local('Roboto-300'),
         url('/fonts/roboto/Roboto-300.woff2') format('woff2'),
         url('/fonts/roboto/Roboto-300.woff') format('woff'),
         url('/fonts/roboto/Roboto-300.ttf') format('truetype'),
         url('/fonts/roboto/Roboto-300.svg') format('svg');
  }
    