@charset "UTF-8";
*{
    font-family:'Montserrat-Regular',sans-serif;
    transition:all .3s ease 0;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    -moz-osx-font-smoothing:grayscale
}
@keyframes rocket-animation{
    0%{
        transform:rotate(45deg) translate(0px,0px)
    }
    10%{
        transform:rotate(45deg) translate(2px,6px)
    }
    20%{
        transform:rotate(45deg) translate(-2px,-6px)
    }
    30%{
        transform:rotate(45deg) translate(4px,2px)
    }
    40%{
        transform:rotate(45deg) translate(-4px,-2px)
    }
    50%{
        transform:rotate(45deg) translate(2px,6px)
    }
    60%{
        transform:rotate(45deg) translate(-6px,-4px)
    }
    70%{
        transform:rotate(45deg) translate(1px,5px)
    }
    80%{
        transform:rotate(45deg) translate(-5px,-3px)
    }
    90%{
        transform:rotate(45deg) translate(5px,3px)
    }
    100%{
        transform:rotate(45deg) translate(0px,0px)
    }
}
@keyframes rline-animation{
    0%{
        transform:scale(1,1)
    }
    50%{
        transform:scale(1,0.97)
    }
    100%{
        transform:scale(1,1)
    }
}
@keyframes cloud-animation{
    0%{
        transform:rotate(45deg) translate(0,0);
        opacity:0
    }
    25%{
        transform:rotate(45deg) translate(0,100px);
        opacity:1
    }
    50%{
        transform:rotate(45deg) translate(0,200px);
        opacity:1
    }
    75%{
        transform:rotate(45deg) translate(0,300px);
        opacity:1
    }
    100%{
        transform:rotate(45deg) translate(0,400px);
        opacity:0
    }
}