<!doctype html>
<html lang="{{ .Language }}">

{{ partial "header-blog.html" . }}
    
<body>

    {{ partial "navbar-blog.html" . }}

    <div id="blog" class="container-fluid">
        <div class="container">
            {{ range .Pages }}
            <a href="{{.Permalink}}">
                <div class="col-md-4 pt-30">
                <div class="plan-box">
                    <div class="plan-box-header color-bg1">
                        <div class="plan-title">
                            {{ .Date.Format "2006-01-02" }}
                        </div>
                        
                        <div class="blogpost-title v-align">
                            <span>
                                {{ .Title }}
                            </span>
                        </div>
                    </div>
                    <div class="plan-box-content summary">
                        {{ if gt (len .Summary) 320 }}
                        {{ slicestr .Summary 0 320 | plainify }}...
                        {{ else }}
                        {{ .Summary | plainify }}
                        {{ end }}
                    </div>
                </div>
                </div>  
            </a>
            {{ end }}
        </div>

        <br/>
    </div>

	<br/>
	<br/>

    <div class="container-fluid">
    {{ partial "footer.html" . }}
    </div>

</body>
</html>