<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Niels Hofmans">
	<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", "}}{{ end }},ironpeak,blog" />
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	<meta name="robots" content="index, nofollow">
	<meta name="Cache-Control" content="public">

	<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
	<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
	<meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:image" content="/img/icon.png" />

	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	<title>{{ .Title }} - ironPeak Blog</title>

    <link rel="canonical" href="{{ .Permalink }}" />
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#3a9dc2"/>

	<link rel="apple-touch-icon" href="/img/icon.png"/>
	<link rel="icon" type="image/png" href="/img/icon.png"/>

	{{ $cssBundle := resources.Get "css/style.css" | resources.Minify | fingerprint }}
	<link rel="stylesheet" type="text/css" href="{{ $cssBundle.Permalink }}" integrity="{{ $cssBundle.Data.Integrity }}">
</head>
