<div id="top-content" class="content">
	<nav id="mainNav" class="navbar navbar-default">
		<div class="container container-nav">
			<div class="navbar-header">
				<button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navLinks"></button>

                <a class="navbar-brand page-scroll" href="/">
                    <img class="logo" alt="ironPeak logo" width="143" height="18" src="/img/logo.png">
                </a>
			</div>

			<div aria-expanded="false" class="navbar-collapse" id="navLinks" role="main">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/blog/" class="link">
							<strong>{{ i18n "blog" }}</strong>
						</a>
					</li>
					
					<li>
						<a class="chat-button" href="#footer">
							{{ i18n "contact" }}
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
